<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.graph_apps">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
    <application android:label="graph_apps.Android"></application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
